/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}


body{
  background-color: #f5f5f5;
  overflow-x: hidden;
  margin: 0;
}

header{
  height: 500px;
  background-color: #3400ff;
}

nav{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.nav-item{
  margin-right: 20px;
  color: #ffffff;
  font-size: 12px;
}

.nav-item-active{
  background-color: #ffffff;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 5px;
  color: #5a31fc;
  margin-right: 20px;
  font-weight: 400;
}

.logo{
  margin-top: 40px;
  margin-left: 60px;
}

.header-text{
  color: #ffffff;
  margin-left: 60px;
  margin-top: 100px;
  float: left;
}

.header-image{
  float: right;
}

.companies{
  margin-top: 20px;
  margin-left: 30px;
  font-family: 'Poppins';
}

.company-items{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 50px;
  font-size: 20px;
}

.api-heading{
  font-weight: 800;
  margin-left: 90px;
  margin-top: 100px;
}

.cards {
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.card{
  width: 20%;
  height: 250px;
  background-color: #ffffff;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
}

.card-active{
  width: 20%;
  height: 250px;
  background-color: transparent;
  margin-right: 30px;
  box-shadow: 0px 5px 15px #000;
  padding: 10px;
  border-radius: 10px;
}

.card-logo{
  margin-left: 30px;
  margin-top: 30px;
}

.card-head-active{
  margin-left: 30px;
  color: #000;
}

.card-body{
  color: #000;
  font-size: small;
  margin-left: 30px;
}

.blog-heading{
  margin-left: 90px;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.blog-heading > h3{
  position: relative;
  right: 50px;
  top: 70px;
  font-size: 15px;
  font-weight: 600;
  color: #5a31fc;
  cursor: pointer;
}

.blog-cards{
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}

.blog-card{
height: 288px;
width: 50%;
background-color: #ffffff;
margin-right: 30px;
border-radius: 15% 2% 2% 5%;
}

.blog-content{
  position: relative;
  left: 300px;
  bottom: 300px;
}

.blog-content > h6{
  margin-top: 30px;
  margin-bottom: 10px;
  color: #5a31fc;
}

.blog-content > h3{
  margin-top: 5px;
  font-weight: 600;
}

.blog-content > small{
  font-size: 10px;
}

.blog-bottom{
  position: relative;
  left: 300px;
  bottom: 270px;
}

.blog-author{
  position: relative;
  left: 185px;
  bottom: 163px;
  font-size: 11px;
}

.faq-section{
  display: flex;
  height: 324px;
  margin-top: 90px;
  justify-content: space-between;
  background-color: #e8eef3;
}

.faq-content {
  padding-left: 90px;
}

.faq-content > h2 {
  font-size: 30px;
  font-weight: bolder;
}

.faq-content > h5{
  font-weight: 400;
}

.faq-content > button {
  background-color: #5a31fc;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 8px 15px;
}

.download-section {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: space-between;
}

.download-content{
  margin-left: 90px;
}

.download-email{
  margin-right: 90px;
  background-color: #e8eef3;
  width: 450px;
  border-radius: 20px;
  padding: 3px 20px;
  padding-right: 5px;
}

form > input{
  width: 65%;
  background-color: transparent;
  border: none;
  font-size: 11px;
}

form > button{
  border: none;
  float: right;
  border-radius: 20px;
  background-color: #5a31fc;
  padding: 5px 30px;
  color: #ffffff;
}

.footer-section {
  display: flex;
  background-color: #3400ff;
  color: #ffffff;
  justify-content: space-between;
  height: 170px;
  align-items: center;
}

.footer-left {
  margin-left: 90px;
}

.footer-logo{
  width: 100px;
}

.list{
  display: flex;
}

.list-items {
  list-style-type: none;
  position: relative;
  right: 40px;
  margin-right: 30px;
  font-size: 10px;
}

.footer-right {
  margin-right: 40px;
}

.footer-logos {
  width: 30px;
  margin-right: 10px;
  position: relative;
  left: 25px;
}

.logos-list {
  display: flex;
}
